<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/list-company">Company Information</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i
            class="fas fa-bars"></i></button>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" routerLink="/list-company">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Data Manipulation</div>
                    <a class="nav-link" routerLink="/add-company">
                        <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                        Add Company
                    </a>
                    <a class="nav-link" routerLink="/list-company">
                        <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                        Company List
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Created By:</div>
                Prince Makwana
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">

            </div>
            <div class="container-fluid">
                <!--Main Component-->
                <router-outlet></router-outlet>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">
                        Copyright &copy; Company Information 2021
                    </div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>